@{
    ViewData["Title"] = "Archived Results";
}
<div class="row">
    <h2>Word Level Results</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>SentiWordNet -S</th>
                <th>OpinionLexicon -S</th>
                <th>SentiWordNet +S</th>
                <th>OpinionLexicon +S</th>
                <th>Combined</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>%31.3</td>
                <td>%23.4</td>
                <td>%26</td>
                <td>%18.3</td>
                <td>%22.1</td>
            </tr>

        </tbody>
    </table>

</div>
<div class="row">
    <h2>Sentence Level Results</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>SentiWordNet -S</th>
                <th>OpinionLexicon -S</th>
                <th>SentiWordNet +S</th>
                <th>OpinionLexicon +S</th>
                <th>Combined</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>84%</td>
                <td>86%</td>
                <td>80%</td>
                <td>%76</td>
                <td>%85</td>
            </tr>

        </tbody>
    </table>

</div>
